<! DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
     <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="title" content="SimpleWeb Presentation">
     <meta name="keywords" content="SimpleWeb Presentation  Tool generate html presentation">
     <meta name="author" content="InfoTrophic.com">
     <meta name="displaySection" content="Technology:Utilities">
     <meta name="description" content="SimpleWeb presentation Tool to generte web/html presentation bundle.">
    
     {% load staticfiles %}
     <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
     <link rel="stylesheet" media="all" type="text/css" href="static/jquery/css/jquery-ui-timepicker-addon.css">
     <link rel="stylesheet" href="static/jquery/css/jquery-ui.css">
     <link rel="stylesheet" href="static/jquery-custom-scrollbar-0.5.5/jquery.custom-scrollbar.css">

    <!--  	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
      <script type="text/javascript" src="static/jquery/js/jquery-1.10.2.js"></script>
     <script type="text/javascript" src="static/jquery/js/jquery-ui.min.js"></script>
 
     <!-- <script type="text/javascript" src="static/ckeditor/ckeditor.js"></script> -->
     <script src="//cdn.ckeditor.com/4.5.4/full-all/ckeditor.js"></script> 
     <!-- <script type="text/javascript" src="static/Downloadify/js/swfobject.js"></script>
	 <script type="text/javascript" src="static/Downloadify/js/downloadify.min.js"></script> -->

     <script type="text/javascript" src="static/jquery-custom-scrollbar-0.5.5/jquery.custom-scrollbar.js"></script>

  <!--   <link rel="stylesheet" href="static/jaukia-zoomooz/examples/rootchange/style.css" type="text/css" media="screen" /> -->

     <script src="static/jaukia-zoomooz/jquery.zoomooz.min.js"></script> 

     <script src="static/Snap.svg-0.4.1/dist/snap.svg.js"></script>
     <script src="static/svgPathParser/path-data-polyfill.js"></script>
   

     <script type="text/javascript" src="{% static as %}{{ myJSConst }}"></script>
    	
     <link rel="stylesheet" type="text/css" media="screen" href="{% static as %}{{ contentCSS }}"> </link>
     
     
<!--     <script type="text/javascript" src="static/SWextended/js/SWgoogleDrive.js"></script>-->
  
  <!--   <script src="https://www.google.com/jsapi?key=AIzaSyAYxY7SPUkI4XmN2EiocLOVnmpEfrwST88"></script>  
	 <script src="https://apis.google.com/js/client.js?onload=initGoogleDriveFilePicker"></script> -->
	
	
     <script type="text/javascript" src="static/simpleWeb/js/SimpleSlide.js"></script>
     <script type="text/javascript" src="static/SWextended/js/SWCommon.js"></script>
     <script type="text/javascript" src="static/SWextended/js/SWSVGEdit.js"></script>
     <script type="text/javascript" src="static/SWextended/js/SWEditor.js"></script>
      <script type="text/javascript" src="static/SWextended/js/SVGEditor.js"></script>
     <script type="text/javascript" src="static/SWextended/js/SWPresentation.js"></script>
	
	
	<script type="text/javascript"> 
       {% load SWTags %}
       SWcreatorJasonDump = '{% generateExtentedJsonToSend "SWCreator.json"  %}' 
	</script>

</head>
	
<body onload="laodSWPresentation()">

</body>

</html>

