option_settings:
  "aws:elasticbeanstalk:application:environment":
    PATH: "/opt/python/run/venv/bin/:$PATH"
    PYTHONPATH: "/opt/python/current/app/:$PYTHONPATH"
    PYTHONPATH: "infotrophic_web_appl/:$PYTHONPATH"
    SIMPLE_WEB_ENV: "PRODUCTION"
    DJANGO_SETTINGS_MODULE: "simpleWebAppl.settings"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "infotrophic_web_appl/simpleWebAppl/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/opt/python/current/app/infotrophic_web_appl/static/"
