.completeHeaderDiv {
	
}

.completeHeaderDiv.hide {
	
}

.headerCenter { /* in completeHeaderDiv*/
	position: fixed;
	background: "transparant";
	border: "none";
	align: "center";
	width: 100%;
	height: 90px;
	top: 0;
	border: 1px solid transparant;
}

.headerDiv { /* In headerCenter*/
	background: white;
	width: 90%;
	border: 1px solid transparant;
	margin: auto;
}

.headerContainer { /* In headerDiv*/
	background: white;
	width: 100%;
	height: 70px;
	float: left;
	align: "left";
	border: 1px solid transparant;
	margin: auto;
	background: inherit;
}

.headerBrDiv {
        height: 7px;
        padding: 0px 0px 0px 0px;
        background:  #FFFFCC;
        margin:0px 0px 0px 0px;
        border: 1px solid #FFFFCC;
}

.searchDiv {
	height: 22px;
	width: 76%;
	/*        background: red;*/
}

.headerForm {
	list-style: none;
	width: 76%;
	float: left;
	/*margin:0px auto 0px auto;*/
	padding: 1px 0px 0px 0px;
	height: 22px;
	background-color: inherit;
	/*       border: 1px solid #F4C2C2;*/
}

.loginDiv {
	height: 10px;
	width: 24%;
	height: 22px;
	float: right;
	color: maroon;
	margin: 0px auto 0px auto;
	padding: 1px 0px 6px 0px;
	background-color: inherit;
	bottom: 0px;
	/*	border: 1px solid #F4C2C2;*/
}

.login {
	font-weight: bold;
	float: right;
	color: maroon;
	background-color: inherit;
	text-decoration: none;
	padding: 3px 18px 0px 0px;
}

.login:hover {
	color: red;
	dth: 79% dth:  79% text-shadow:  1px 1px 1px(130, 112, 112, 0.5 );
}

.searchInput {
	width: 300px;
	height: 22px;
	display: inline;
	/*float: right;*/
	color: maroon;
	border: 1px solid #F4C2C2;
}

.headerButton {
	width: 75px;
	height: 22px;
	/*float: right;*/
	display: inline;
	outline: none;
	box-shadow: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
	color: maroon;
	background: white;
	border: 1px solid #C41E3A;
	border-style: none;
	cursor: hand;
	/*-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
   -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
   box-shadow: 0 0 4px rgba(0,0,0, .75);*/
}

.headerButton:hover {
	color: red;
	text-shadow: 1px 1px 1px(130, 112, 112, 0.5 );
}

.banner {
	text-align: right;
	color: white;
	margin-left: 10%;
	margin-right: 1%;
	margin-top: 0.3%;
}

body,ul,li {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 25px;
	text-align: left;
	text-color: white;
}

/* Navigation Bar */
#menu {
	list-style: none;
	margin: 0px auto 0px 0px;
	height: 35px;
	/*padding:10px 0px 10xpx 0px;*/
	/* Rounded Corners 
     
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
	/* Background color and gradients */
	background: maroon;
	background: -moz-linear-gradient(top, maroon, maroon);
	background: linear-gradient(top, maroon, maroon);
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(maroon), to(#maroon));*/
	/* Borders */
	/*border: 1px solid #002232;*/
	border: 1px solid grey;
	-moz-box-shadow: inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow: inset 0px 0px 1px #edf9ff;
	box-shadow: inset 0px 0px 1px #edf9ff;
}

#menu li {
	float: left;
	text-align: center;
	position: relative;
	padding: 0.3% 1% 0.7% 1%;
	margin-right: 1px;
	margin-top: 1px;
	border: none;
}

#menu li:hover {
	border: 0px solid maroon; /*#777777;*/
	padding: 4px 9px 4px 9x;
	/* Background color and gradients */
	background: rgba(130, 112, 112, 0.9);
	/*background: #FFFFCC;*/
	background: -moz-linear-gradient(top, #FFFFCC, #FFFFCC);
	background: linear-gradient(top, #FFFFCC, #FFFFCC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFCC),
		to(#FFFFCC) );
	/* Rounded corners*/
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #EEEEEE;
	display: block;
	outline: 0;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

#menu li:hover a { /* color:#161616;*/
	color: maroon;
	text-shadow: 1px 1px 1px #FFFFFF;
}

#menu li .drop {
	padding-right: 2%;
}

#menu li:hover .drop {
	/*background:url("img/drop.png") no-repeat right 7px;*/
	background: #FFFFCC right 7px;
}

/* Drop Down */
.dropdown_1column,.dropdown_2columns,.dropdown_3columns,.dropdown_4columns,.dropdown_5columns
	{
	margin: 4px auto;
	float: left;
	top: 0px;
	position: absolute;
	left: -999em; /* Hides the drop down */
	text-align: left;
	padding: 0px 5px 0px 5px;
	border: 1px solid maroon; /*#777777;*/
	border-top: maroon;
	/* Gradient background */
	background: rgba(255, 255, 204, 0.95);
	/*background:#FFFFCC;*/
	background: -moz-linear-gradient(top, #FFFFCC, #FFFFCC);
	background: linear-gradient(top, #FFFFCC, #FFFFCC);
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB);*/

	/* Rounded Corners 
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;*/
}

.dropdown_1column {
	width: 400px;
}

.dropdown_2columns {
	width: 300px;
}

.dropdown_3columns {
	width: 400px;
}

.dropdown_4columns {
	width: 560px;
}

.dropdown_5columns {
	width: 700px;
}

#menu li:hover .dropdown_1column,#menu li:hover .dropdown_2columns,#menu li:hover .dropdown_3columns,#menu li:hover .dropdown_4columns,#menu li:hover .dropdown_5columns
	{
	left: -1px;
	top: auto;
	color: maroon;
}

.col_1,.col_1_noScroll,.col_2,.col_3,.col_4,.col_5 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;
}

.col_1_noScroll {
	overflow: hidden;
	width: 145px;
	max-height: 500px;
}

.col_1 {
	width: 150px;
}

.col_2 {
	width: 270px;
}

.col_3 {
	width: 410px;
}

.col_4 {
	width: 550px;
}

.col_5 {
	width: 690px;
}

/* Right alignment */
#menu .menu_right {
	float: right;
	margin-right: 0px;
}

#menu li .align_right { /* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left: auto;
	right: -1px;
	top: auto;
}

/* Drop Down Content Stylings */
#menu p,#menu h2,#menu h3,#menu ul li {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	font-size: 12px;
	text-align: left;
	text-shadow: 1px 1px 1px #FFFFFF;
}

#menu h2 {
	font-size: 21px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 7px 0 14px 0;
	padding-bottom: 14px;
	border-bottom: 1px solid #666666;
}

#menu h3 {
	font-size: 14px;
	margin: 7px 0 14px 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #888888;
}

#menu p {
	line-height: 18px;
	margin: 0 0 10px 0;
}

#menu li:hover div a {
	font-size: 12px;
	/*color:#015b86;*/
	color: red;
}

#menu li:hover div a:hover { /*color:#029feb;*/
	color: maroon;
}

.strong {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.imgshadow { /*background:#FFFFFF; */
	background: red;
	padding: 4px;
	border: 1px solid red; /*#777777;*/
	margin-top: 5px;
	-moz-box-shadow: 0px 0px 5px #666666;
	-webkit-box-shadow: 0px 0px 5px #666666;
	box-shadow: 0px 0px 5px #666666;
}

.img_left { /* Image sticks to the left */
	width: auto;
	float: left;
	margin: 5px 15px 5px 5px;
}

#menu li .black_box {
	background-color: #333333;
	/* color: #eeeeee;*/
	color: red;
	text-shadow: 1px 1px 1px #000;
	padding: 4px 6px 4px 6px;
	/* Rounded Corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* Shadow */
	-webkit-box-shadow: inset 0 0 3px #000000;
	-moz-box-shadow: inset 0 0 3px #000000;
	box-shadow: inset 0 0 3px #000000;
}

#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0 0 12px 0;
}

#menu li ul li {
	font-size: 12px;
	line-height: 40px;
	position: relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding: 0;
	margin: 0;
	float: none;
	text-align: left;
	width: 130px;
}

#menu li ul li:hover {
	border: none;
	padding: 0;
	margin: 0;
}

#menu li .greybox li {
	background: maroon; /*#F4F4F4;*/
	border: 1px solid red; /*#bbbbbb;*/
	margin: 0px 0px 4px 0px;
	padding: 4px 6px 4px 6px;
	width: 116px;
	/* Rounded Corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#menu li .greybox li:hover {
	background: red; /*#ffffff;*/
	border: 1px solid red; /*#aaaaaa;*/
	padding: 4px 6px 4px 6px;
	margin: 0px 0px 4px 0px;
}
